In [3]:
#!python -m pip install --upgrade pip
#!pip3 install  python-terrier tira==0.0.88 ir_datasets
#!pip3 install -q python-terrier
#!pip3 install -q --upgrade git+https://github.com/terrierteam/pyterrier_t5.git

In [4]:
from tira.third_party_integrations import ensure_pyterrier_is_loaded, persist_and_normalize_run
from tira.rest_api_client import Client
import pyterrier as pt
from ir_measures import *

/home/codespace/.python/current/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
ensure_pyterrier_is_loaded()
tira = Client()

PyTerrier 0.10.1 has loaded Terrier 5.7 (built by craigm on 2022-11-10 18:30) and terrier-helper 0.0.7

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [6]:
pt_dataset = pt.get_dataset("irds:ir-lab-padua-2024/longeval-2023-01-20240426-training")
pt_dataset_jun = pt.get_dataset("irds:ir-lab-padua-2024/longeval-2023-06-20240418-training")
pt_dataset_aug = pt.get_dataset("irds:ir-lab-padua-2024/longeval-2023-08-20240418-training")

In [7]:
submission_path_k_4_jan = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-kmax-avg-k-4.lag1"
submission_path_max_jan = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-max.lag1"
submission_path_mean_jan = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-mean.lag1"
jan = pt.Experiment(
    [
        pt.transformer.get_transformer(pt.io.read_results(submission_path_max_jan)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_k_4_jan)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_mean_jan)),

    ],
    pt_dataset.get_topics('text'),
    pt_dataset.get_qrels(),
    names=[
        "MAX",
        'K4',
        "MEAN",
        
        # "3-max-avg",
    ],
    baseline=0,
    eval_metrics=[nDCG(judged_only=True)@10, nDCG(judged_only=True), nDCG@10, nDCG],
)[["name", 'nDCG@10', "nDCG", "nDCG@10 p-value", "nDCG p-value", ]]

jan

   name   nDCG@10      nDCG  nDCG@10 p-value  nDCG p-value
0   MAX  0.208937  0.307454              NaN           NaN
1    K4  0.208350  0.305478         0.864837      0.408479
2  MEAN  0.208542  0.306750         0.929780      0.819642

In [8]:
submission_path_k_4_jun = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-kmax-avg-k-4.lag6"
submission_path_max_jun = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-max.lag6"
submission_path_mean_jun = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-mean.lag6"
jun = pt.Experiment(
    [
        pt.transformer.get_transformer(pt.io.read_results(submission_path_max_jun)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_k_4_jun)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_mean_jun)),

    ],
    pt_dataset_jun.get_topics('text'),
    pt_dataset_jun.get_qrels(),
    names=[
        "MAX",
        'K4',
        "MEAN",
        
        # "3-max-avg",
    ],
    baseline=0,
    eval_metrics=[nDCG(judged_only=True)@10, nDCG(judged_only=True), nDCG@10, nDCG],
)[["name", 'nDCG@10', "nDCG", "nDCG@10 p-value", "nDCG p-value", ]]

jun

   name   nDCG@10      nDCG  nDCG@10 p-value  nDCG p-value
0   MAX  0.196091  0.260396              NaN           NaN
1    K4  0.191261  0.256972         0.236455      0.235625
2  MEAN  0.184011  0.252745         0.021329      0.028423

In [9]:
submission_path_k_4_aug = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-kmax-avg-k-4.lag8"
submission_path_max_aug = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-max.lag8"
submission_path_mean_aug = "/workspaces/ir-lab-jena-leipzig-wise-2023-galapagos-tortoise/clef-2024-submission/galapagos-tortoise-bm25-bo1-pl2-monot5-mean.lag8"
aug = pt.Experiment(
    [
        pt.transformer.get_transformer(pt.io.read_results(submission_path_max_aug)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_k_4_aug)),
        pt.transformer.get_transformer(pt.io.read_results(submission_path_mean_aug)),

    ],
    pt_dataset_aug.get_topics('text'),
    pt_dataset_aug.get_qrels(),
    names=[
        "MAX",
        'K4',
        "MEAN",
        
        # "3-max-avg",
    ],
    baseline=0,
    eval_metrics=[nDCG(judged_only=True)@10, nDCG(judged_only=True), nDCG@10, nDCG],
)[["name", 'nDCG@10', "nDCG", "nDCG@10 p-value", "nDCG p-value", ]]

aug

   name   nDCG@10      nDCG  nDCG@10 p-value  nDCG p-value
0   MAX  0.159440  0.197731              NaN           NaN
1    K4  0.156196  0.195593         0.070105      0.119679
2  MEAN  0.149909  0.191226         0.000254      0.000805

In [10]:
import pandas as pd

df = pd.DataFrame({'nDCG_01-06': [0,0,0],
                   'nDCG_06-08': [0,0,0],
                   'nDCG_01-08': [0,0,0],
                   'nDCG@10_01-06': [0,0,0],
                   'nDCG@10_06-08': [0,0,0],
                   'nDCG@10_01-08': [0,0,0],})
df["nDCG_01-06"] = jan["nDCG"] - jun["nDCG"]
df["nDCG_06-08"] = jun["nDCG"] - aug["nDCG"]
df["nDCG_01-08"] = jan["nDCG"] - aug["nDCG"]
df["nDCG@10_01-06"] = jan["nDCG@10"] - jun["nDCG@10"]
df["nDCG@10_06-08"] = jun["nDCG@10"] - aug["nDCG@10"]
df["nDCG@10_01-08"] = jan["nDCG@10"] - aug["nDCG@10"]

df

,nDCG_01-06,nDCG_06-08,nDCG_01-08,nDCG@10_01-06,nDCG@10_06-08,nDCG@10_01-08
0,0.047058,0.062664,0.109722,0.012846,0.036652,0.049497
1,0.048507,0.061378,0.109885,0.017089,0.035064,0.052153
2,0.054005,0.061519,0.115524,0.024530,0.034102,0.058632