# PyTerrier Notebook for Full-Rank Submissions

This notebook serves as a baseline full-rank submission for [TIRA](https://tira.io)/[TIREx](https://tira.io/tirex) that builds a PyTerrier index and subsequently creates a run with BM25.

### Step 1: Ensure Libraries are Imported

In [47]:
import os

# Detect if we are in the TIRA sandbox
# Install the required dependencies if we are not in the sandbox.
if 'TIRA_DATASET_ID' not in os.environ:
    !python -m pip install --upgrade pip
    !pip3 install  python-terrier tira==0.0.88 ir_datasets
    !pip3 install -q python-terrier
    !pip3 install -q --upgrade git+https://github.com/terrierteam/pyterrier_t5.git
else:
    print('We are in the TIRA sandbox.')

from tira.third_party_integrations import ensure_pyterrier_is_loaded, persist_and_normalize_run

# PyTerrier must be imported after the call to ensure_pyterrier_is_loaded in TIRA.
import pyterrier as pt

Requirement already satisfied: pip in /usr/local/python/3.10.13/lib/python3.10/site-packages (23.3.2)
Requirement already satisfied: python-terrier in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: tira==0.0.88 in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.0.88)
Requirement already satisfied: ir_datasets in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.5.5)
Requirement already satisfied: requests==2.*,>=2.26 in /home/codespace/.local/lib/python3.10/site-packages (from tira==0.0.88) (2.31.0)
Requirement already satisfied: docker==6.*,>=6.0.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from tira==0.0.88) (6.1.3)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (from tira==0.0.88) (2.1.3)
Requirement already satisfied: packaging>=14.0 in /home/codespace/.local/lib/python3.10/site-packages (from docker==6.*,>=6.0.0->tira==0.0.88) (23.2)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from docker==6.*,>=6.0.0->tira==0.0.88) (2.0.7)
Requirement already satisfied: websocket-client>=0.32.0 in /home/codespace/.local/lib/python3.10/site-packages (from docker==6.*,>=6.0.0->tira==0.0.88) (1.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests==2.*,>=2.26->tira==0.0.88) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests==2.*,>=2.26->tira==0.0.88) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests==2.*,>=2.26->tira==0.0.88) (2023.11.17)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from python-terrier) (1.26.2)
Requirement already satisfied: wget in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (3.2)
Requirement already satisfied: tqdm in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (4.66.1)
Requirement already satisfied: pyjnius>=1.4.2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (1.6.1)
Requirement already satisfied: matchpy in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.5.5)
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.10/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied: deprecated in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (1.2.14)
Requirement already satisfied: chest in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.2.3)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.10/site-packages (from python-terrier) (1.11.4)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.10/site-packages (from python-terrier) (1.3.2)
Requirement already satisfied: nptyping==1.4.4 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (1.4.4)
Requirement already satisfied: more-itertools in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (10.2.0)
Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.10/site-packages (from python-terrier) (3.1.2)
Requirement already satisfied: statsmodels in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.14.1)
Requirement already satisfied: ir-measures>=0.3.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.3.3)
Requirement already satisfied: dill in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.3.7)
Requirement already satisfied: pytrec-eval-terrier>=0.5.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from python-terrier) (0.5.6)
Requirement already satisfied: typish>=1.7.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from nptyping==1.4.4->python-terrier) (1.9.3)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /home/codespace/.local/lib/python3.10/site-packages (from ir_datasets) (4.12.2)
Requirement already satisfied: inscriptis>=2.2.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (2.4.0.1)
Requirement already satisfied: lxml>=4.5.2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (5.1.0)
Requirement already satisfied: pyyaml>=5.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from ir_datasets) (6.0.1)
Requirement already satisfied: trec-car-tools>=2.5.4 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (2.6)
Requirement already satisfied: lz4>=3.1.10 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (4.3.3)
Requirement already satisfied: warc3-wet>=0.2.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (0.2.3)
Requirement already satisfied: warc3-wet-clueweb09>=0.2.5 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (0.2.5)
Requirement already satisfied: zlib-state>=0.1.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (0.1.6)
Requirement already satisfied: ijson>=3.1.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (3.2.3)
Requirement already satisfied: pyautocorpus>=0.1.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (0.1.12)
Requirement already satisfied: unlzw3>=0.2.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir_datasets) (0.2.2)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.10/site-packages (from beautifulsoup4>=4.4.1->ir_datasets) (2.5)
Requirement already satisfied: cwl-eval>=1.0.10 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from ir-measures>=0.3.1->python-terrier) (1.0.12)
Requirement already satisfied: cbor>=1.0.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from trec-car-tools>=2.5.4->ir_datasets) (1.0.0)
Requirement already satisfied: heapdict in /usr/local/python/3.10.13/lib/python3.10/site-packages (from chest->python-terrier) (1.0.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from deprecated->python-terrier) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jinja2->python-terrier) (2.1.3)
Requirement already satisfied: multiset<3.0,>=2.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from matchpy->python-terrier) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->tira==0.0.88) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->tira==0.0.88) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas->tira==0.0.88) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn->python-terrier) (3.2.0)
Requirement already satisfied: patsy>=0.5.4 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from statsmodels->python-terrier) (0.5.6)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.10/site-packages (from patsy>=0.5.4->statsmodels->python-terrier) (1.16.0)

Ensure Pyterrier integration is loaded

In [48]:
ensure_pyterrier_is_loaded()

Due to execution in TIRA, I have patched ir_datasets to always return the single input dataset mounted to the sandbox.

### Step 2: Load data, create index

In [49]:
# dataset_name = 'validation-20231104-training'
jena = 'jena-topics-20231026-test'
leipzig = 'leipzig-topics-small-20240119-training'
ds_jena = pt.get_dataset('irds:ir-lab-jena-leipzig-wise-2023/'+jena)
ds_leipzig = pt.get_dataset('irds:ir-lab-jena-leipzig-wise-2023/'+leipzig)
topics_jena = ds_jena.get_topics(variant="title")
qrels_jena = ds_jena.get_qrels()
topics_leipzig = ds_leipzig.get_topics(variant="title")
qrels_leipzig = ds_leipzig.get_qrels()

In [50]:
from tira.rest_api_client import Client
tira_client = Client()

No settings given in /home/codespace/.tira/.tira-settings.json. I will use defaults.
No settings given in /home/codespace/.tira/.tira-settings.json. I will use defaults.

In [51]:
bm25_bo1_pl2_max_j = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/mild-duck', jena) 
max_run_j = bm25_bo1_pl2_max_j.transform(topics_jena)

bm25_bo1_pl2_max_l = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/mild-duck', leipzig) 
max_run_l = bm25_bo1_pl2_max_l.transform(topics_leipzig)

In [52]:
bm25_bo1_pl2_mean_j = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/poky-claim', jena)
mean_run_j = bm25_bo1_pl2_mean_j.transform(topics_jena)

bm25_bo1_pl2_mean_l = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/poky-claim', leipzig)
mean_run_l = bm25_bo1_pl2_mean_l.transform(topics_leipzig)

In [53]:
bm25_bo1_pl2_kmax_j = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/edible-status', jena)
kmax_run_j = bm25_bo1_pl2_kmax_j.transform(topics_jena)

bm25_bo1_pl2_kmax_l = tira_client.pt.from_retriever_submission('ir-lab-jena-leipzig-wise-2023/galapagos-tortoise/edible-status', leipzig)
kmax_run_l = bm25_bo1_pl2_kmax_l.transform(topics_leipzig)

### Experiments on Jena topics.

In [61]:
experiment_j = pt.Experiment(
        [
            bm25_bo1_pl2_max_j,
            bm25_bo1_pl2_mean_j,
            bm25_bo1_pl2_kmax_j,
        ],
        topics_jena,
        qrels_jena,
        eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
        names=[
            "max passage Jena",
            "mean passage Jena",
            "best kmax passage Jena",
        ],
        # perquery=True
    )

hypo1_j = pt.Experiment(
    [bm25_bo1_pl2_max_j, bm25_bo1_pl2_mean_j],
    topics_jena,
    qrels_jena,
    eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
    names=["max passage Jena", "mean passage Jena"],
    baseline = 1
)

hypo2_j = pt.Experiment(
    [bm25_bo1_pl2_kmax_j, bm25_bo1_pl2_max_j, bm25_bo1_pl2_mean_j],
    topics_jena,
    qrels_jena,
    eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
    names=["best kmax passage Jena", "max passage Jena", "mean passage Jena"],
    baseline = 0
)

experiment_l = pt.Experiment(
        [
            bm25_bo1_pl2_max_l,
            bm25_bo1_pl2_mean_l,
            bm25_bo1_pl2_kmax_l,
        ],
        topics_leipzig,
        qrels_leipzig,
        eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
        names=[
            "max passage Leipzig",
            "mean passage Leipzig",
            "best kmax passage Leipzig",
        ],
        # perquery=True
    )

hypo1_l = pt.Experiment(
    [bm25_bo1_pl2_max_l, bm25_bo1_pl2_mean_l],
    topics_leipzig,
    qrels_leipzig,
    eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
    names=["max passage Leipzig", "mean passage Leipzig"],
    baseline = 1
)

hypo2_l = pt.Experiment(
    [bm25_bo1_pl2_kmax_l, bm25_bo1_pl2_max_l, bm25_bo1_pl2_mean_l],
    topics_leipzig,
    qrels_leipzig,
    eval_metrics=["ndcg_cut_5", "ndcg_cut_10", "ndcg"],
    names=["best kmax passage Leipzig", "max passage Leipzig", "mean passage Leipzig"],
    baseline = 0
)

experiment_j

                     name  ndcg_cut_5  ndcg_cut_10      ndcg
0        max passage Jena    0.268758     0.285880  0.373611
1       mean passage Jena    0.255592     0.279602  0.369422
2  best kmax passage Jena    0.283274     0.307513  0.385448

In [55]:
experiment_l

                        name  ndcg_cut_5  ndcg_cut_10      ndcg
0        max passage Leipzig    0.581550     0.525421  0.573446
1       mean passage Leipzig    0.418526     0.423454  0.507939
2  best kmax passage Leipzig    0.539375     0.503897  0.560287

### Persist experiment and tests.

In [62]:
hypo1_j

,name,ndcg,ndcg_cut_5,ndcg_cut_10,ndcg +,ndcg -,ndcg p-value,ndcg_cut_5 +,ndcg_cut_5 -,ndcg_cut_5 p-value,ndcg_cut_10 +,ndcg_cut_10 -,ndcg_cut_10 p-value
0,max passage Jena,0.373611,0.268758,0.285880,15.0,19.0,0.819999,14.0,12.0,0.630029,12.0,19.0,0.790391
1,mean passage Jena,0.369422,0.255592,0.279602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
hypo1_l

,name,ndcg,ndcg_cut_5,ndcg_cut_10,ndcg +,ndcg -,ndcg p-value,ndcg_cut_5 +,ndcg_cut_5 -,ndcg_cut_5 p-value,ndcg_cut_10 +,ndcg_cut_10 -,ndcg_cut_10 p-value
0,max passage Leipzig,0.573446,0.581550,0.525421,26.0,7.0,0.004448,24.0,6.0,0.000489,26.0,6.0,0.001255
1,mean passage Leipzig,0.507939,0.418526,0.423454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
hypo2_j

,name,ndcg,ndcg_cut_5,ndcg_cut_10,ndcg +,ndcg -,ndcg p-value,ndcg_cut_5 +,ndcg_cut_5 -,ndcg_cut_5 p-value,ndcg_cut_10 +,ndcg_cut_10 -,ndcg_cut_10 p-value
0,best kmax passage Jena,0.385448,0.283274,0.307513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,max passage Jena,0.373611,0.268758,0.285880,12.0,20.0,0.147035,7.0,13.0,0.266367,11.0,16.0,0.052215
2,mean passage Jena,0.369422,0.255592,0.279602,14.0,19.0,0.321049,9.0,14.0,0.311403,15.0,13.0,0.177533

In [59]:
hypo2_l

,name,ndcg,ndcg_cut_5,ndcg_cut_10,ndcg +,ndcg -,ndcg p-value,ndcg_cut_5 +,ndcg_cut_5 -,ndcg_cut_5 p-value,ndcg_cut_10 +,ndcg_cut_10 -,ndcg_cut_10 p-value
0,best kmax passage Leipzig,0.560287,0.539375,0.503897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,max passage Leipzig,0.573446,0.581550,0.525421,18.0,13.0,0.328876,16.0,10.0,0.087884,16.0,14.0,0.252585
2,mean passage Leipzig,0.507939,0.418526,0.423454,8.0,26.0,0.002114,7.0,25.0,0.000748,8.0,25.0,0.001160

In [60]:
with open("results.txt", "wt") as file:
    file.write("On Jena topics:\n\n")
    file.write("Experiment:\n\n")
    experiment_string = experiment_j.to_string(header=True, index=False)
    file.write(experiment_string + "\n\n")
    # ...
    file.write("Results for Hypothesis 1:\n\n")
    file.write("Significance test:\n")
    hypo1_string = hypo1_j.to_string(header=True, index=False)
    file.write(hypo1_string + "\n\n")
    # ...
    file.write("Results for Hypothesis 2:\n\n")
    file.write("Significance test:\n")
    hypo2_string = hypo2_j.to_string(header=True, index=False)
    file.write(hypo2_string)
    # ...

    file.write("On Leipzig topics:\n\n")
    file.write("Experiment:\n\n")
    experiment_string = experiment_l.to_string(header=True, index=False)
    file.write(experiment_string + "\n\n")
    # ...
    file.write("Results for Hypothesis 1:\n\n")
    file.write("Significance test:\n")
    hypo1_string = hypo1_l.to_string(header=True, index=False)
    file.write(hypo1_string + "\n\n")
    # ...
    file.write("Results for Hypothesis 2:\n\n")
    file.write("Significance test:\n")
    hypo2_string = hypo2_l.to_string(header=True, index=False)
    file.write(hypo2_string)